<h1><%= @store_collection.count %> Total Stores</h1>

<% @stores.each do |store| %>
  <div class="store">
    <h2 class="longname"><b>Name:</b> <%= store.longname %></h2>
    <p class="city"><b>City:</b> <%= store.city %></p>
    <p class="distance"><b>Distance:</b> <%= store.distance %></p>
    <p class="phone"><b>Name:</b> <%= store.phone %></p>
    <p class="type"><b>Type:</b> <%= store.type %></p>
  </div>
<% end %>

<% if @stores.current_page < @stores.total_pages %>
   <%= link_to "Next", "#{search_index_path}?page=#{@stores.current_page+1}" %>
<% end %>
