<h1><%= @stores.count %> Total Stores</h1>

<% @stores.each do |store| %>
  <div class="store">
    <h2 class="longname"><%= store.longname %></h2>
    <p class="city"><%= store.city %></p>
    <p class="distance"><%= store.distance %></p>
    <p class="phone"><%= store.phone %></p>
    <p class="type"><%= store.type %></p>
  </div>
<% end %>
